html {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0px auto;
  padding: 0px auto;
  min-width: 480px;
  font-family: "Microsoft Yi Baiti";
}

input {
  font-family: "Microsoft Yi Baiti";
  width: 400px;
  font-size: 36px;
  margin: 0px 10px 10px 18%;
  height: 64px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

input[type=submit] {
  width: 165px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(70 133 195);
  color: white;
}

button { 
  font-family: "Microsoft Yi Baiti";
  font-size: 36px;
  margin: 0px 10px 10px 18%;
  border: 1px solid lightgray; 
  border-radius: 10px;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(70 133 195);
  color: white;
}

.top {
  background-color: rgb(41, 41, 41);
  display: flex;
}

.dropdown-bar {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}

.logo {
  height: 50px;
  width: 50px;
}

.title-bar {
  font-size: 50px;
  font-family: "Microsoft Yi Baiti";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}

.change .bar1 {
  -webkit-transform: rotate (-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate (45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -5px);
}

.bottom {
  background-color: rgb(41, 41, 41);
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
}

.bar1, .bar2, .bar3 {
  width: 27px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: 0.2s;
}

.footer {
  display: inline;
}

.sign-in-sign-up {
  margin: 100px 10px 20px 18%;
  display: inline-block;
  font-size: 64px;
}

.registerbtn {
  background-color:  rgb(41, 41, 41);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
  margin: 0px 0px 0px 10%;
}

@media screen and (max-width: 750px) {
  .row {
    display: table;
    width: 100%;
  }
  .column {
    width: 100%;
  }
}