html {
  font-size: 20px;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  min-width: 480px;
  font-family: "Microsoft Yi Baiti";
}

input {
  font-family: "Microsoft Yi Baiti";
  width: 400px;
  font-size: 36px;
  display: flex;
  height: 64px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
[type=radio] {
  height: 40px;
}
[type=submit] { 
  font-family: "Microsoft Yi Baiti";
  font-size: 36px;
  display: inline-block;
  text-align: center;
  border: 1px solid lightgray; 
  border-radius: 10px;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(70 133 195);
  color: white;
}

.sign-in-sign-up {
  margin: 100px 0px;
  text-align: center;
  font-size: 64px;
}

.updateProfile {
  margin: 100px 0px;
  text-align: center;
  font-size: 64px;
}

.registerbtn {
  background-color:  rgb(41, 41, 41);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
  margin: 0px 0px 0px 10%;
}

@media screen and (max-width: 750px) {
  .row {
    display: table;
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .indexColumns {
    width: 100%;
  }
}

.info {
  font-family: "Microsoft Yi Baiti";
  font-size: 20px;
  border-bottom: 4px dotted #ccc;
  display: block;
}

.button-con {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.profile-title {
  font-family: "Microsoft Yi Baiti";
  font-size: 28px;
  justify-content: center;
  display: flex;
}

.choosechart {
  display: block;
  width: 100%;
  border: none;
  background-color:rgb(41, 41, 41);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 50vh;
}

.indexColumns {
  display: inline;
  float: left;
}

.indexRow {
  content: "";
  clear: both;
  margin: 0 auto;
}

.centerWrapper {
  margin: auto;
  font-size: 40px;
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  min-width: 480px;
  text-align: center;
}

.registrationWrapper  {
  margin: auto;
  font-size: 40px;
  margin: 0 auto;
  width: 50vw;
  min-width: 480px;
  width: 480px;
  text-align: center;
}
.justify {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.justify a {
  color: black;
}

.float-left {
  justify-content: left;
  display: flex;
  margin: 0 auto;
}

select {
  font-size: 20px;
  width: 400px;
}

.vibe {
  margin: 200px 0px 0px 0px;
}

.poll {
  text-align: center;
}

.poll-answer {
  display: inline-block;
}

.chartLink {
  color: gray;
}

.pollId {
  font-size: 0.000001px;
}

.voteButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.embiggen {
  font-size: 35px;
}

.pollColumn {
  position: relative;
}

.help {
  min-height: calc(100vh-70px);
}