<html>
    <head>
        <title>About Page</title>
        <link href="../style/style.css" rel="stylesheet" type="text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {{>loggedInHeader}}
        <div class="indexRow">
            <div class="indexColumn">
            <div class="centerWrapper">
                <div class="justify"></div>
                <div class="justify">Made By:</div>
                <div class="justify">Sam Sindt, Devin Kwon, John Duong, Nathan Aguilar</div>
                <div class="justify">VibeCheck 2020</div>
                <div class="justify">A social website where we can check out</div>
                <div class="justify">the VIBES!!!</div>
            </div>
            </div>
        </div>
    </body>
</html>