<html>
    <head>
        <title>Create Poll</title>
    </head>
    <body>
    {{title}}
      {{# questions}}
      {{id}}<br>
      {{text}}<br>
      {{responses}}<br>
      {{/ questions}}
    </body>
</html>