<html>
    <head>
        <title>{{title}}</title>
        <link href = "../style/style.css" rel = "stylesheet" type = "text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel='stylesheet' type="text/css">
    </head>
<body>
   {{>loggedInHeader}}
    <div class = "indexRow">
        <div class = "indexColumn">
          <div class = "centerWrapper">
            <div class = "justify">{{title}}</div>
            <ol>
                {{#charts}}
                <li><a href="/poll/id/{{id}}" class = "chartLink">{{text}}</a></li>
                {{/charts}}
            </ol>
          </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>