<html>
    <head>
        <title>Create Poll</title>
        <link href = "../style/style.css" rel = "stylesheet" type = "text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel='stylesheet' type="text/css">
    </head>
<body>
   {{>loggedInHeader}}
    <div class = "indexRow">
        <div class = "indexColumn">
          <div class = "centerWrapper">
            <div class = "justify">Create a Poll</div>
                <form id="createPoll_form">
                    <input type="submit">
                    <div class = "justify"><input name="question" type="text" placeholder="Ask a questin" required></div>
                    <div class = "justify"><input name="1" type="text" placeholder="Add a possible answer" required></div>
                    <div class = "justify"><input name="2" type="text" placeholder="Add a possible answer" required></div>
                </form>
                <button id="addAnswer">Add Answer</button>
                <script type="text/javascript" src="/script/createPoll.js"></script>
                <script type="text/javascript" src="/script/addAnswer.js"></script>
          </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>