<html>
    <head>
        <title>HomePage</title>
        <link href="../style/style.css" rel="stylesheet" type="text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel='stylesheet' type="text/css">
    </head>
    <body>
        {{>loggedInHeader}}
        <div class="indexRow">
            <div class="indexColumn">
            <div class="centerWrapper">
                <div class="justify">Popular Poll</div>
                <div class="justify">{{question}}</div>
                <div class="justify">{{#pollData}}</div>
                <div class="justify">{{text}} : {{numVotes}}</div>
                <div class="justify">{{/pollData}}</div>
                <div class="justify">Votes Total : {{totalVotes}}</div>
            </div>
            </div>
            <div class = "indexColumn vibe">
                <div class = "centerWrapper">
                    <div class = "justify">What's the Vibe?</div>
                    <div class = "justify"><button type="submit">Ask Away</button></div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
