<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage</title>
        <link href = "style/style.css" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <div class = "top">
            <div class = "title-bar">
                <img src = "img/VibeCheck_Logo.png" class = "logo">
                <a href = "http://localhost:3000/">
                    VibeCheck
                </a>
            </div>
        </div>
    </body>
</html>