<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <button id="logout">Log Out</button>
    <script type="text/javascript" src="/script/logout.js"></script>
  </body>
</html>