<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' />
</head>

<body>
  <h1>{{ title }}</h1>
  <p>{{ title }}</p>

  <div class="container">
    {{{body}}}
  </div>

  <button id="logout">Log Out</button>
  <script type="text/javascript" src="/script/logout.js"></script>
</body>

</html>