<div class = "top">
    <div class = "dropdown-bar">
        <div id="dropdown">
            <div class = "bar1"></div>
            <div class = "bar2"></div>
            <div class = "bar3"></div>
            <div id="myDropdown" class="dropdown-content">
                <a href="/account/login">Login</a>
                <a href="/account/register">Register</a>
            </div>
        </div>
    </div>
    <div class="title-bar">
        <img src="/img/VibeCheck_Logo.png" class="logo">
        <a href="http://localhost:3000/">
            VibeCheck
        </a>
    </div>
</div>
<script type = "text/javascript" src = "/script/dropdown.js"></script>