<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form id="login_form">
            <legend>Login</legend>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
        <a href="/account/register">Register</a>
        <script type="text/javascript" src="/script/login.js"></script>
    <body>
</html>