<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadeChartsPage</title>
    <link href = "../style/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class = "top">
        <div class = "dropdown-bar">
            <div id="dropdown">
                <div class = "bar1"></div>
                <div class = "bar2"></div>
                <div class = "bar3"></div>
                <div id="myDropdown" class="dropdown-content">
                    <a href="">Create A Chart</a>
                    <a href="./profile.html">Profile</a>
                    <a href="./partcharts.html">Participated In</a>
                </div>
            </div>
        </div>
        <div class = "title-bar">
            <img src = "/img/VibeCheck_Logo.png" class = "logo">
            <a href = "./index.html">
                VibeCheck
            </a>
        </div>
    </div>
    <div>
        Charts That You've Made
    </div>
    <div>
        CREATE A CHART BUTTON HERE
    </div>
    <div class = "bottom">
        <ul>
            <li class = "footer"><a href="">Create A Chart</a></li>
            <li class = "footer"><a href="">Profile</a></li>
            <li class = "footer"><a href="">Participated In</a></li>
        </ul>
    </div>
</body>
</html>

<script type = "text/javascript" src = "/script/dropdown.js"></script>