<html>
    <head>
        <title>RegisterPage</title>
        <link href = "/style/style.css" rel = "stylesheet" type = "text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel='stylesheet' type="text/css">
    </head>
    <div class = "pollId" id = "pollId">{{pollId}}</div>
    <body>
       {{>loggedOutHeader}}
        <div class = "pollId" id = "pollId">{{pollId}}</div>
        <div class = "indexRow">
            <div class = "indexColumn">
                <div class = "centerWrapper">
                    <div class = "justify">{{title}}</div>
                        <canvas id="chart"></canvas> 
                        <form id="vote_form">
                                <div class = "justify">{{#responses}}</div>
                                <div class = "justify"><input type="radio" id="{{id}}" name="vote" value="{{id}}"></div>
                                <div class = "justify">
                                <div class = "justify"><label for="{{id}}">{{text}}</label></div>
                                <div class = "justify">{{/responses}}</div>
                        </form>
                    </div>
                    <div class = "justify"><input type="submit" value="Vote"></div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                    <script src="/script/poll.js"></script>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>

<script type = "text/javascript" src = "/script/dropdown.js"></script>

