<html>
    <head>
        <title>{{title}}</title>
        <link href = "../../style/style.css" rel = "stylesheet" type = "text/css">
        <link href="../../style/header.css" rel="stylesheet" type="text/css">
    </head>
    <div class = "pollId" id = "pollId">{{pollId}}</div>
    <body>
        {{>loggedInHeader}}
        <div class = "pollId" id = "pollId">{{pollId}}</div>
        <div class = "indexRow">
            <div class = "indexColumn">
                <div class = "centerWrapper">
                    <div class = "justify">{{title}}</div>
                    <div class = "justify">       
                        <canvas type = "vote" id="chart"></canvas> 
                        <form id="vote_form">
                                {{#responses}}
                                <input type="radio" id="{{id}}" name="vote" value="{{id}}">
                                <div class = "justify">
                                    <label id = "vote" for="{{id}}">{{text}}</label>
                                </div>
                                {{/responses}}
                                <input type="submit" value="Vote">
                        </form>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                        <script src="/script/poll.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
