<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link href = "visual.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class = "top">
        <div class = "dropdown-bar">
            <div id="dropdown">
                <div class = "bar1"></div>
                <div class = "bar2"></div>
                <div class = "bar3"></div>
                <div id="myDropdown" class="dropdown-content">
                    <a href="./profilecharts.html">Your Charts</a>
                    <a href="./updateprof.html" >Update Profile</a>
                </div>
            </div>
        </div>
        <div class = "title-bar">
            <img src = "VibeCheck_Logo.png" class = "logo">
            <a href = "./index.html">
                VibeCheck
            </a>
        </div>
    </div>
    <h1 class = "profile-title">Profile</h1>
    <div class = "profile-info">
        <div class = "info">
            First Name
        </div>
        info here
        <div class = "info">
            Last Name
        </div>
        info here
        <div class = "info">
            Username
        </div>
        info here
        <div class = "info">
            Password
        </div>
        info here
        <div class = "info">
            E-mail
        </div>
        info here
    </div>
    <div class = "bottom">
        <ul>
            <li class = "footer"><a href="./profilecharts.html">Your Charts</a></li>
            <li class = "footer"><a href="./updateprof.html" >Update Profile</a></li>
        </ul>
    </div>
</body>
</html>

<script src = "script.js">
</script>
