<html>
<head>
    <title>ProfilePage</title>
    <link href="../style/style.css" rel="stylesheet" type="text/css">
    <link href="../style/header.css" rel="stylesheet" type="text/css">
    <link href="../style/footer.css" rel='stylesheet' type="text/css">
    <link href="../style/profile.css" rel='stylesheet' type="text/css">
</head>
<body>
    {{>loggedInHeader}}
    <h1 class = "profile-title">Profile</h1>
    <div class = "profile-info">
        <div class = "info">
            First Name
        </div>
        {{firstname}}
        <div class = "info">
            Last Name
        </div>
        {{lastname}}
        <div class = "info">
            Username
        </div>
        {{username}}
        <div class = "info">
            E-mail
        </div>
        {{email}}
    </div>
    <a id="updateProfileLink" href="/account/update">Update Profile</a>
    {{>footer}}
</body>
</html>