<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link href = "visual.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class = "top">
        <div class = "dropdown-bar">
            <div id="dropdown">
                <div class = "bar1"></div>
                <div class = "bar2"></div>
                <div class = "bar3"></div>
                <div id="myDropdown" class="dropdown-content">
                    <a href="./profile.html">Profile</a>
                </div>
            </div>
        </div>
        <div class = "title-bar">
            <img src = "VibeCheck_Logo.png" class = "logo">
            <a href = "./index.html">
                VibeCheck
            </a>
        </div>
    </div>
    <div class = "prof-chart-con">
        <button type="button" class="choosechart" onclick=document.location='madecharts.html'>Charts You've Made</button>
        <button type="button" class="choosechart" onclick=document.location='partcharts.html'>Charts You've Participated In</button>
    </div>
    <div class = "bottom">
        <ul>
            <li class = "footer"><a href="./profile.html">Profile</a></li>
        </ul>
    </div>
</body>
</html>

<script src = "script.js">
</script>
