<html>
<head>
    <title>ProfilePage</title>
    <link href = "/style/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <div class = "top">
        <div class = "dropdown-bar">
            <div id="dropdown">
                <div class = "bar1"></div>
                <div class = "bar2"></div>
                <div class = "bar3"></div>
                <div id="myDropdown" class="dropdown-content">
                    <a href="">Create A Chart</a>
                    <a href="">Your Charts</a>
                    <a href="">Update Profile</a>
                    <a id="logout">Log Out</a>
                    <script type="text/javascript" src="/script/logout.js"></script>
                </div>
            </div>
        </div>
        <div class = "title-bar">
            <img src = "/img/VibeCheck_Logo.png" class = "logo">
            <a href = "http://localhost:3000/">
                VibeCheck
            </a>
        </div>
    </div>
    <h1 class = "profile-title">Profile</h1>
    <div class = "profile-info">
        <div class = "info">
            First Name
        </div>
        {{firstname}}
        <div class = "info">
            Last Name
        </div>
        {{lastname}}
        <div class = "info">
            Username
        </div>
        {{username}}
        <div class = "info">
            E-mail
        </div>
        {{email}}
    </div>
    <div class = "bottom">
        <ul>
            <li class = "footer"><a href="">Create A Chart</a></li>
            <li class = "footer"><a href="">Your Charts</a></li>
            <li class = "footer"><a href="">Update Profile</a></li>
            <li class = "footer"><a id="logout">Log Out</a></li>
        </ul>
    </div>
</body>
</html>

<script type = "text/javascript" src = "/script/dropdown.js"></script>