<html>
    <head>
        <title>Register</title>
    </head>
    <body>
            <form id="registration_form" action="#" onsubmit="submitForm(); return false">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="password" id="confirm_password" name="confirmPassword" placeholder="Confirm password"><br>
            <input type="text" id="first_name" name="firstname" placeholder="First name"><br>
            <input type="text" id="last_name" name="lastname" placeholder="Last name"><br>
            <input type="email" id="email" name="email" placeholder="Email address"><br>
            <input type="submit">
        </form>
        <script type="text/javascript" src="/script/register.js"></script>
    </body>
</html>