<html>
    <head>
        <title>UpdateProfile</title>
        <link href = "/style/style.css" rel = "stylesheet" type = "text/css">
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel='stylesheet' type="text/css">
    </head>
    <body>
       {{>loggedInHeader}}                                                       
        <div>
            Update Profile for {{username}}
            <form name="updateForm" id="updateProfile_form">
                <div class = "justify"><input type="text" id="username" name="username" placeholder="Username..."></div>
                    <div class = "justify"><input type="password" id="password" name="password" placeholder="Password..."></div>
                    <div class = "justify"><input type="password" id="confirm_password" name="confirmPassword" placeholder="Confirm Password..."></div>
                    <div class = "justify"><input type="text" id="first_name" name="firstname" placeholder="First Name..."></div>
                    <div class = "justify"><input type="text" id="last_name" name="lastname" placeholder="Last Name..."></div>
                    <div class = "justify"><input type="email" id="email" name="email" placeholder="Email Address..."></div>
                    <div class = "justify"><select name="securityQuestion" id="security_question">
                    {{#securityQuestions}}
                    <option value="{{id}}">{{text}}</option>
                    {{/securityQuestions}}
                </select></div>
                <div class = "justify"><input type="text" id="security_question_answer" name="securityQuestionAnswer" placeholder = "Answer..."></div>
                <div class = "justify"><input type="submit" value="Update" id = "updateMsg"></div>
            </form>
            <script type="text/javascript" src="/script/updateProfile.js"></script>
            {{>footer}}
        </div>
    </body>
</html>

<script type = "text/javascript" src="/script/updateMsg.js"></script>
<script type = "text/javascript" src = "/script/dropdown.js"></script>
