<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UpdateProfilePage</title>
        <link href = "../style/style.css" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <div class = "top">
            <div class = "title-bar">
                <img src = "../img/VibeCheck_Logo.png" class = "logo">
                <a href = "http://localhost:3000/">
                    VibeCheck
                </a>
            </div>
        </div>                                                                
        <div class = "updateProfile">
                Update Profile
            <form id="updateProfile_form">
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="text" id="first_name" name="firstname" placeholder="First name">
                <input type="text" id="last_name" name="lastname" placeholder="Last name">
                <input type="email" id="email" name="email" placeholder="Email address">
                <input type="submit" value="Update">
            </form>
            <script type="text/javascript" src="/script/updateProfile.js"></script>
        </div>
        <div class = "bottom">
            <ul>
                <li class = "footer"><a href="./profilecharts.html">Your Charts</a></li>
                <li class = "footer"><a href="./updateprof.html" >Update Profile</a></li>
            </ul>
        </div>
    </body>
</html>